{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-5">
      <h3 class="text-center mb-4">{% trans "Sign Up" %}</h3>

      <p class="text-center mb-4">
        {% blocktrans %}
        Welcome to the <b>Urban Biodiversity Platform</b> website.
        Do you already have an account? Then please
        <a class="link underline-link" href="{{ login_url }}"><b>sign in</b></a> instead.
        {% endblocktrans %}
      </p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="form-group">
          {{ form.as_div }}
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="text-center mt-4">
          <button class="btn btn-primary btn-signup" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}